@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.65;
  color: #393d41;
}
header {
  background-color: black;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo {
  width: 150px;
  padding-left: 30px;
}
.corso {
  background-image: url(banner.jpg);
  text-align: center;
  background-size: cover;
  line-height: 40px;
  height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 800px;
}
h1 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}
.tes {
  padding-bottom: 30px;
  line-height: 1.65;
}
#pulsante {
  background-color: #f04c2f;
  border-radius: 3px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.comp {
  width: 500px;
  border-radius: 50%;
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  position: absolute;
  left: 300px;
  top: 900px;
}
h4 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 24px;
}
.sposta {
  position: absolute;
  right: 300px;
  top: 950px;
  font-size: 20px;
  line-height: 1.65;
}

.lor {
  background-color: rgb(248, 45, 45);
  color: white;
  text-align: center;
  padding-bottom: 70px;
  padding-top: 60px;
  margin-bottom: 100px;
}
h2 {
  font-weight: 600;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.garanzia {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}
h5 {
  padding-top: 25px;
}
h6 {
  font-size: 12px;
}
.seq {
  width: 400px;
  display: inline-block;
  height: 266.875px;
  text-align: center;
}
.cornice {
  border: 1px solid #dee1e3;
  margin-bottom: 30px;
  width: 400px;
  text-align: center;
  display: inline-block;
  margin-right: 30px;
}
.testo {
  padding-bottom: 30px;
  display: inline-block;
}
.centrare {
  margin: 0 auto;
}
